html {
    scroll-behavior: smooth;
  }
  *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Teko', sans-serif;
  }

#service{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    z-index: 0;
    background-size: 100%;
    background-image: url(Images/newbg2.jpg);
}
.navbar{
    height: 100vh;
    width: 100%;
    display: flex;
    font-size: 1.5625rem;
    /* border:1px solid rgb(97, 94, 94);  */
    /* background-color: black; */
    /* position: fixed; */
    top:-20px;
    width: 100%;
}
.menu{
  width: 100%;
  /* font-family: 'Teko', sans-serif; */
    margin-top: 30px;
    margin-left: 250px;
    display: flex;
}
.menu h4{
    /* font-family: 'Teko', sans-serif; */
    color: white;
    /* text-align: center; */
    padding: 18px;
    font-size: 1.75rem;

}

.logo img{
    margin-top: 45px;
    margin-left: 60px;
    width: 150px;
 }
 i {
    margin-left: 50px;
    margin-top: 20px;
    color: white;
    padding: 2px;
    cursor: pointer;
 }
 .call{
   margin-top: -20px;
   font-size: 8px;
   text-transform: uppercase;
  /* font-family: 'Teko', sans-serif; */
   margin-left: 180px;
 }
 #check:checked ~ .sidebar{
    left: 0px;
   }
   .container > input{
    display: none;
 }
 .sidebar{
  background-color: rgb(70, 69, 69);
  width: 10%;
 height: 60vh;
 position: fixed;
 top: 0px;
 left: -50%;
 transition: left 0.3s ease-in-out;
}
.sidebar h4{
  padding: 10px;
  color: aqua;   
}
.bar i{
  padding: 20px;
}
.bar{
  display: none;
}
  @media (max-width:991px){
    .bar{
        display: block;
    }
    .menu{
        display: none;
    }
}
.allser-h1{
    margin-top: -35%;
    text-transform: uppercase;
    font-size: 100px;
    text-align: center;
    color: white;
}
.allser-home{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
}
.allser-img{
    margin-top: -11%;
    margin-left: 80%;
    height: 20%;
    width: 20%;
}

/* 2nd section */
#designing{
    margin: 0;
    padding: 0;
    height: 80vh;
    width: 100%;
    background-color: white;
}
.wrapper{
    margin-top: -200px;
    text-align: center;
  }
  
  .our_team{
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .team_member{
      border: 1px solid wheat;
    width: 250px;
    margin: 5px;
    background: #fff;
    padding: 20px 10px;
  }
  .box1-img{
      width: 40%;
      /* margin-top: 0px; */
      margin-left: -100px;
  }
  .box1-h1{
      margin-top: 30px;
      margin-left: 20px;
      text-transform: uppercase;
      text-align: left;
  }
  .box1-p{
      margin-top: 50px;
      margin-left: 20px;
      text-align: left;
      font-size: 30px;
  }
  .team_member:hover{
    color: white;
    background-color: black;
  }

  /* 3rd section */
  .div_{
    width: 100%;
    height: 100vh;
    padding-top: 10%;
    background-color: #8b8383;
  }
  .main{
    width: 1000px; 
    height: auto;
    margin: auto;
    
  
  }
  .row_parent{
    
    display: flex;
  }
  
  
  
  .box{
    width: 250px;
    height: 250px;
    margin: 5px;
    border-radius: 5px;
    background-color:black;
  }
  
  .box-dual{
    width: 508px;
    height: 250px;
    border-radius: 5px;
    /* background-color:black; */
  
  }
  
  @media (max-device-width: 991px) {
    
    .main{
      display: flex;
    }
    .row_parent{
      display: block;
    }
  
  }
  
  @media (max-device-width: 600px) {
    .main{
      display: block;
    }
    .box{
    width: 400px;
    height: 400px;
    margin: 10px;
    border-radius: 5px;
  }
  
  .box-dual{
    width: 810px;
    height: 400px;
    border-radius: 5px;	
    }
  }
  .no{
    color: gray;
    font-size: 40px;
    margin-top: 30px;
    margin-left: 30px;
  }
  .box-text{
    font-size: 30px;
    margin-top: 40px;
    margin-left: 30px;
    color: white;
  }
  .box-img{
    margin-left: 120px;
    margin-top: -700px;
    width: 80px;
    height: 10vh;
    margin-bottom: 100px;
  }
  .dual-box-h1{
    color: white;
    font-size: 58px;
  }
  .dual-box-p{
    margin-top: 20px;
    color: white;
    font-size: 22px;
  }
  .box:hover{
    background-color: orange;
  }
  .box-text:hover{
    color: black;
  }
  a{
    color: white;
    text-decoration: none;
  }
  a:hover, i:hover{
    color: orange;
  }

  /* 4th part */
  .upabove_half_right{
    width: 75%;
    height: auto;
    padding: 2%;
    margin-top: 5%;
    margin-left: 10%;
    font-family: 'Rubik', sans-serif;
    /* background-color: #ffc1a2; */
  }
  .upr_img_features{
    width: 100%;
    height: auto;
    display: flex;
    margin: 5%;
    /* background-color: blue; */
  }
  .upr_img{
    width: 40%;
    height: 50vh;
    margin: auto;
    /* background-color: cadetblue; */
  }
  .upr_img img{
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
  }
  .upr_features{
    width: 60%;
    height: 23vh;
    margin-top: 2%;
    /* background-color: crimson; */
  }
  .upr_features p{
      font-size: 25px;
      margin-left: 4%;
  }
  .upr_features ul{
  list-style-type:none;
  }
  .upr_features ul li{
    margin: auto;
    line-height: 30px;
    font-size: 20px;
  }
  .fa-check{
    color: #ffaa17;
    margin-left: 4%;
  }
  .head{
    margin-top: 6%;
    text-align: center;
    font-size: 45px;
  }